<div class="section-line">
    <span class="asterisk">*</span>-------------------------------------------------------------------------------<span class="asterisk">*</span>
    <div class="section-title">{{{title}}}</div>
</div>