@font-face {
  font-family: 'Courier New';
  src: url('_fonts/Courier-New-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* Font Face Definitions */
@font-face {
  font-family: 'CMU Typewriter Text';
  src: url('_fonts/cmunbtl.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'CMU Typewriter Text';
  src: url('_fonts/cmunbto.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'CMU Typewriter Text';
  src: url('_fonts/cmunit.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CMU Typewriter Text';
  src: url('_fonts/cmuntb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CMU Typewriter Text';
  src: url('_fonts/cmuntt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CMU Typewriter Text';
  src: url('_fonts/cmuntx.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper';
  src: url('https://physicscloud.net/cooperblack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Global Styles */
body {
  font-family: 'CMU Typewriter Text';
  font-weight: 200;
  font-size: 10pt;
  font-style: normal;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 7.75in;
}

/* Page Setup */
@page {
  size: letter;
  margin: 0.375in;
  margin-top: 0.5in;
}


.heavy {
	font-face: 'Courier New';
	font-weight: bold;
/*	text-decoration: underline;
*/}
.lightitalic {
    font-family: 'CMU Typewriter Text';
    font-weight: 400;
	font-style: italic;
}
/* Header Styles */
header {
  text-align: center;
}

header.top-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-head {
  display: flex;
  align-items: center;
  width: 7.75in;
  flex-direction: column;
  border: 3px solid black;
  padding-bottom: 12px;
}

.title-head {
  font-family: 'Cooper';
  font-weight: normal;
  font-size: 42pt;
  width: 7.5in;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.sub-head {
  font-size: 14.3pt;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 4px;
}
#more-info {
	margin-top: -10px;
}

/* Summary Section */
#summary {
  font-size: 10pt;
  font-weight: 500;
  font-style: italic;
  margin: 15px;
  text-align: left;
}

/* Section Line and Title */
.section-line {
  position: relative;
  font-size: 13pt;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin: 10px 0 5px;
}

.section-title {
  white-space: nowrap;
  font-size: 10pt;
  font-weight: 500;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  padding: 0 10px;
  display: inline-block;
}

/* Employment Section */
.employment-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  page-break-inside: avoid;
  margin-bottom: 3px;
}

.employment-title,
.employment-date {

  display: inline-block;
  font-weight: 600;
}

.employment-date {
  text-align: right;
  margin-right:8px;
}

.employment-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.employment-highlights {
  font-weight: 200;
  padding-top: 0;
  width: 100%;
}

.employment-position {
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-style: italic;
}

/* Custom Bullets List */
ul.custom-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-end: 0;
  margin-left: 1em;
  margin-right: 1em;
}

ul.custom-bullets a {
  color: black;
  text-decoration: none;
}

.custom-bullets li {
  margin-left: 0;
  padding-left: 1em;
  position: relative;
}

ul.custom-bullets li::before {
  content: '*';
  color: black;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Footer Section */
.footer {
  position: fixed;
  width: 7.75in;
  margin: 0 auto;
  padding-left: 4px;
  display: flex; /* Initially hide the footer */
  justify-content: center;
  align-items: center;
  bottom: 0in; /* Position the footer at the bottom of the page */
}

.footer-content {
  width: auto;
  font-size: 11pt;
  border: black 1px solid;
  text-align: center;
  padding: 2px 8px;
  background-color: white;
}

.footer a {
  color: black;
}

/* Show footer only on the first page */


.degree {
  display: inline-block;
  font-size: 10pt;
  font-weight: 500;
}

/* Media Queries */
@media screen {
  header.top-box {
    margin-top: 2em;
  }

  body {
    width: 7.75in;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    margin-bottom: 10px;
  }

  .content {
    width: 7.55in;
    padding-left: 0.1in;
  }
}
@page first 
@media print {
  .title-head {
    margin-left: -0.24in;
    height: 0.48in;
  }

  .sub-head {
    margin-top: -7px;
    margin-left: -0.24in;
    padding-bottom: 13px;
  }

  .footer {
    margin-left: -0.1in;
  }

}

/* Hidden Content */
.hidden-combo {
  display: inline-block;
  position: relative;
}

.w-100 {
  width: 100%;
}

.hidden-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.001);
  z-index: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.langbar {
  width: 96%;
  height: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Define the footer as a running element */
